.home{
   background-color: var(--main-bg);
   flex: 1;
   display: flex;
   flex-wrap: wrap;
   column-gap: 14px;
   row-gap: 40px;
   margin-top: 2rem;
   padding: 0px 24px;
   overflow-y: scroll;

   &::-webkit-scrollbar {
      width: 8px;
   }
   &::-webkit-scrollbar-thumb {
      background-clip: content-box;
      background-color: darkgray;
      border-radius: 8px;
   }

   .home__content-wrapper {
      width: 271px;
      height: 271px;

      .home__content-player {
         width: 100%;
         height: 150px;
         border-radius: 8px;
         position: relative;

         .home__content-duration {
            position: absolute;
            right: 4px;
            bottom: 4px;
            z-index: 9;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 3px 4px;
            font-weight: 500;
            border-radius: 4px;
         }
      }

      .home__content-details {
         display: flex;

         .details__avatar {
            width: 48px;
            height: 40px;
            margin: 12px 12px 0 0;
            border-radius: 50%;

            img {
               display: block;
               max-width: 100%;
               border-radius: 50%;
               width: 100%;
               height: 100%;
            }
         }

         .details__meta {
            overflow-x: hidden;

            .details__title {
               margin: 12px 0 6px 0;
               padding-right: 24px;
            }

            .details__post-info {
               color: var(--text-secondary);

               .details__metadata {
                  display: flex;
                  flex-wrap: nowrap;
                  column-gap: 4px;
                  margin-top: 3px;

                  .details__metadata-divider {
                     display: grid;
                     place-content: center;
                     height: 4px;
                     font-size: 16px;
                     font-weight: 600;
                  }
               }
            }
         }
      }
   }
}